<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.pipe.PipeActs"
            android:label="trub_acts">
        </activity>
        <activity
            android:name=".activity.pump.PumpActs"
            android:label="pump_acts">
        </activity>
        <activity
            android:name=".activity.doc.DocActs"
            android:label="doc_acts">
        </activity>
        <activity
            android:name=".activity.remark.RemarkView"
            android:label="remak_view">
        </activity>
        <activity
            android:name=".activity.pipe.PipeView"
            android:label="trub_view">
        </activity>
        <activity
            android:name=".activity.pipe.PipeChange"
            android:label="trub_change">
        </activity>
        <activity
            android:name=".activity.pipe.PipeCreate"
            android:label="trub_create">
        </activity>
        <activity
            android:name=".activity.event.EventDateTimeChange"
            android:label="event_date_time_change">
        </activity>
        <activity
            android:name=".activity.event.EventDateTimeCreate"
            android:label="event_date_time_create">
        </activity>
        <activity
            android:name=".activity.doc.DocView"
            android:label="doc_view">
        </activity>
        <activity
            android:name=".activity.doc.DocChange"
            android:label="doc_change">
        </activity>
        <activity
            android:name=".activity.pump.PumpView"
            android:label="pump_view">
        </activity>
        <activity
            android:name=".activity.pump.PumpCreate"
            android:label="pump_create">
        </activity>
        <activity
            android:name=".activity.pump.PumpChange"
            android:label="pump_change">
        </activity>
        <activity
            android:name=".activity.doc.DocCreate"
            android:label="doc_create">
        </activity>

        <activity
            android:name=".activity.workPump.WorkPumpChange"
            android:label="work_pump_change">
        </activity>
        <activity
            android:name=".activity.work.WorkChange"
            android:label="work_change">
        </activity>
        <activity
            android:name=".activity.work.WorkCreate"
            android:label="work_create">
        </activity>
        <activity
            android:name=".activity.remark.RemarkCreate"
            android:label="remark_create">
        </activity>
    </application>
</manifest>