<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lukoil"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Trub_acts"
            android:label="trub_acts">
        </activity>
        <activity
            android:name=".Pump_acts"
            android:label="pump_acts">
        </activity>
        <activity
            android:name=".Doc_acts"
            android:label="doc_acts">
        </activity>
        <activity
            android:name=".Remark_view"
            android:label="remak_view">
        </activity>
        <activity
            android:name=".Trub_view"
            android:label="trub_view">
        </activity>
        <activity
            android:name=".Trub_change"
            android:label="trub_change">
        </activity>
        <activity
            android:name=".Trub_create"
            android:label="trub_create">
        </activity>
        <activity
            android:name=".Event_date_time_change"
            android:label="event_date_time_change">
        </activity>
        <activity
            android:name=".Event_date_time_create"
            android:label="event_date_time_create">
        </activity>
        <activity
            android:name=".Doc_view"
            android:label="doc_view">
        </activity>
        <activity
            android:name=".Doc_change"
            android:label="doc_change">
        </activity>
        <activity
            android:name=".Pump_view"
            android:label="pump_view">
        </activity>
        <activity
            android:name=".Pump_create"
            android:label="pump_create">
        </activity>
        <activity
            android:name=".Pump_change"
            android:label="pump_change">
        </activity>
        <activity
            android:name=".Doc_create"
            android:label="doc_create">
        </activity>
        <activity
            android:name=".Remark_change"
            android:label="remark_change">
        </activity>
        <activity
            android:name=".Work_pump_change"
            android:label="work_pump_change">
        </activity>
        <activity
            android:name=".Work_change"
            android:label="work_change">
        </activity>
        <activity
            android:name=".Work_create"
            android:label="work_create">
        </activity>
        <activity
            android:name=".Remark_create"
            android:label="remark_create">
        </activity>
    </application>
</manifest>